@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    background-image: url(pictures/smoke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quintessential', serif;
}
::-webkit-scrollbar {
    display: none;
}
h1{
    display: flex;
    font-size: 60px;
    height: 7vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
h2{
    max-width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 40px;
    padding-left: 20px;
    background-color: rgb(199, 0, 0);
    border-radius: 40px;
    border: black 3px solid;
}
h3{
    display: flex;
    align-items: end;
    font-size: 27px;
    margin-left: 20px;
    width: 100%;
    height: 83%;
}
.home{
    border-bottom: black solid 5px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.548);
    z-index: 99999;
}
.home_button{
    width: auto;
    height: 100%;
    display: flex;
    position: absolute;
    cursor: pointer;
}
.card{
    width: 93vh;
    height: 45vh;
    flex-direction: row;
    display: flex;
    color: white;
    border-radius: 50px;
    transition: 0.75s;
}
.card_by2{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page_button{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    border-radius: 20px;
    padding: 7px;
    width: 15%;
    background-color: rgb(112, 108, 108);
    position: absolute;
    border: white 3px solid;
    bottom: 0;
    right: 0;
    margin: 10px;
    transition: 0.75s;
}
.page_button:hover{
    width: 20%;
    font-size: 40px;
    transition: 0.75s;
}
.card:hover{
    width: 40%;
    height: 90%;
    transition: 0.75s;
}
.osvetim-b{
    background-image: url(pictures/osvetim.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.normandie-b{
    background-image: url(pictures/vylodneni_v_normandii.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.hirosima_nagasaki-b{
    background-image: url(pictures/hirosima_nagasaki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.operace_anthropoid-b{
    background-image: url(pictures/operace_anthropoid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.nicholas_winton-b{
    background-image: url(pictures/nicholas_winton.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.emil_hacha-b{
    background-image: url(pictures/emil_hacha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.pearl_harbor-b{
    background-image: url(pictures/pearl_harbor.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.operace_barbarossa-b{
    background-image: url(pictures/operace_barbarossa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.terezin-b{
    background-image: url(pictures/terezin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.benito_mussolini-b{
    background-image: url(pictures/benito_mussolini.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.heydrichiáda-b{
    background-image: url(pictures/heydrichiáda.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px; 
    border: black 5px solid;
    position: relative;
}
.ravensbrück-b{
    background-image: url(pictures/ravensbrück.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.churchill-b{
    background-image: url(pictures/churchill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.irena_sendler-b{
    background-image: url(pictures/irena_sendler.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.hirohito-b{
    background-image: url(pictures/hirohito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.josef_gabcik-b{
    background-image: url(pictures/josef_gabcik.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.operace_afrika-b{
    background-image: url(pictures/operace_afrika.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.lidice-b{
    background-image: url(pictures/lidice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.zbrojeni-b{
    background-image: url(pictures/zbrojeni.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.osn-b{
    background-image: url(pictures/osn.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.neville_chamberlain-b{
    background-image: url(pictures/neville_chamberlain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.anna_frankova-b{
    background-image: url(pictures/anna_frankova.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.italie-b{
    background-image: url(pictures/italie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.josif_stalin-b{
    background-image: url(pictures/josif_stalin.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.varsavske_povstani-b{
    background-image: url(pictures/varsavske_povstani.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.oskar_schindler-b{
    background-image: url(pictures/oskar_schindler.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.holocaust-b{
    background-image: url(pictures/holocaust.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.rudolf_vrba-b{
    background-image: url(pictures/rudolf_vrba.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.vaclav_moravek-b{
    background-image: url(pictures/vaclav_moravek.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}