*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 20px;
    background-color: rgb(231, 67, 67);
}
h1{
    display: flex;
    font-size: 55px;
    height: 7vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.home{
    border-bottom: black solid 5px;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.548);
    z-index: 99999;
}
.home_button{
    width: 50px;
    display: flex;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.card{
    width: 93vh;
    height: 45vh;
    flex-direction: row;
    display: flex;
    color: white;
    border-radius: 50px;
}
.card_by2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card h2{
    max-width: 100%;
    height: 60px;
    display: flex;
    font-size: 40px;
    padding-top: 5px;
    padding-left: 20px;
    background-color: red;
    border-radius: 40px;
    border: black 3px solid;
}
.page_button{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    border-radius: 20px;
    padding: 7px;
    width: 20%;
    background-color: rgb(112, 108, 108);
    position: absolute;
    border: white 3px solid;
    bottom: 0;
    right: 0;
    margin: 10px;
}
.osvetim-b{
    background-image: url(pictures/osvetim.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.normandie-b{
    background-image: url(pictures/vylodneni_v_normandii.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.hirosima_nagasaki-b{
    background-image: url(pictures/hirosima_nagasaki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.operace_anthropoid-b{
    background-image: url(pictures/operace_anthropoid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.nicholas_winton-b{
    background-image: url(pictures/nicholas_winton.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.emil_hacha-b{
    background-image: url(pictures/emil_hacha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.pearl_harbor-b{
    background-image: url(pictures/pearl_harbor.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.operace_barbarossa-b{
    background-image: url(pictures/operace_barbarossa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.terezin-b{
    background-image: url(pictures/terezin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.benito_mussolini-b{
    background-image: url(pictures/benito_mussolini.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.heydrichiáda-b{
    background-image: url(pictures/heydrichiáda.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.ravensbrück-b{
    background-image: url(pictures/ravensbrück.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}
.churchill-b{
    background-image: url(pictures/churchill.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    border-radius: 40px;
    border: black 5px solid;
    position: relative;
}